<section id="sidebar">
    <a href="/dashboard" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/myStore">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">My Store</span>
            </a>
        </li>
        
        <li>
            <a href="/addUser">
                <i class='bx bxs-user' ></i>
                <span class="text">Add User</span>
            </a>
        </li>
        <li>
            <a href="/removeUser">
                <i class='bx bxs-user' ></i>
                <span class="text">Remove User</span>
            </a>
        </li>
        <li>
            <a href="/addProduct">
                <i class='bx bx-store-alt'></i>
                <span class="text">Add Product</span>
            </a>
        </li>
        <li>
          <a href="/saleAdmin">
              <i class='bx bx-store-alt'></i>
              <span class="text">Sales</span>
          </a>
      </li>
    </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-exit' ></i>
                    <span>Logout</span>
                </a>
            </li>
        
        </ul>
</section>