
<section id="header">
        <a href="Project.html"><img src="imgs/logo.png" class="logo"
                alt="Logo" width="145" height="50"></a>
        <div class="container">
            <div>
                <ul id="navbar">
                    <input type="search" id="search" placeholder="Search..">
                    <li><a href="Project.html" class="active">Home</a></li>
                    <li><a href="../pages/shop.ejs">Categories</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="login.html">Log in</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    </div>
                </ul>
            </div>
</section>