<link rel="stylesheet" href="/css/nav.css" />
<section id="header">
        <a href="/"><img src="imgs/logo.png" class="logo"
                alt="Logo" width="145" height="50"></a>
        <div class="container">
            <div>
                <ul id="navbar">
                        <input type="search" id="search" placeholder="Search.." onkeyup="sendData(this)">
                    <span >
                        <li><a href="/" class="active">Home</a></li>
                    </span>
                   <span >
                       <li><a href="/shop" >Categories</a></li>
                    </span>
                    <span>
                        <li><a href="/about">About</a></li>
                    </span>
                    <% if(user===""){%>
                     <span>
                        <li><a href="/login">Log in</a></li>
                    </span> 
                <%}else{
                    if(user.type!=="")
                    {
                     %>
                    <span>
                        <li><a href="/wishlist">Wishlist</a></li>
                    </span>
                    <span>
                        <li><a href="/cart">Cart</a></li>
                    </span>
                    <span>
                        <li><a href="/profile">Profile</a></li>
                    </span>

                    <%}%>

                <%}%>
                   

                    
                    </div>
                </ul>
            </div>
</section>
<section id="searchresults">

</section>
<script>
    function sendData(e)
    {
        const searchResult=document.getElementById('searchresults');
        let match =e.value.match(/^[a-zA-Z]*/);
        let match2 =e.value.match(/\s*/);
        if(match2[0]===e.value)
        {
            searchResult.innerHTML='';
            return;
        }
        if(match[0]===e.value)
        {
            fetch('searchProduct',{
                method:'POST',
                headers: {'Content-Type':'application/json'},
                body: JSON.stringify({'input': e.value})
            }).then(res=>res.json()).then(data=>{
                let input =data.input;
                console.log(input);
                searchResult.innerHTML='';
                if(input.length<1)
                {
                    searchResult.innerHTML='<p>No item found</p>';
                    return; 
                }
                input.forEach((item, index)=>{
                    if (index>0)
                    searchResult.innerHTML+='<hr>';
                    searchResult.innerHTML+=`<p>${item.name}</p>`
                });
            })
            return;
        }
        searchResult.innerHTML='';
    }
</script>
<script>
    // get the current page URL
    var currentPageUrl = window.location.href;

    // loop through the navigation links and remove the "active" class from all link elements
    var navLinks = document.querySelectorAll('#navbar a');
    for (var i = 0; i < navLinks.length; i++) {
        navLinks[i].classList.remove('active');
    }

    // loop through the navigation links and check if their href exactly matches the current page URL
    for (var i = 0; i < navLinks.length; i++) {
        var linkUrl = navLinks[i].href;
        if (currentPageUrl === linkUrl) {
            // add the active class to the link element if it matches the current page URL
            navLinks[i].classList.add('active');
        }
    }
</script>