body{
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    justify-content: center;
    text-align: center;
    align-items: center;
}
 .products{
display: inline-flex;
justify-content: space-between;
padding:20px;
}

.pro-container2{
 display:inline-flex;
justify-content: space-between 20px;
padding:20px;
}

.prod{
    width:15%;
    min-width: 250px;
    padding :6px;
    border-radius:20px;
    cursor:pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.2);
    margin:20px;
    transition:0.2s ease;
    position:relative;

}
 .prod:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.6);
}
.prod img{
   width:80%;
   border-radius:20px;
   width: 220px;
   height: 180px;

}

 .prod .design{
   text-align:start;
   padding-left: 30px;
   padding-bottom: 30px;
   line-height: 0.0001px;

}
 .prod .design span{
    padding: 10px 0;
    color:#878f88;
    font-size:15px;
    font-weight: 600;

}
.prod .btn1{
    background-color:rgb(0,109,91);
    color:white;
    background-image: none;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    width:1cm;
    height: 1cm;
}

.prod .btn2{
    background-color:rgb(0,109,91);
    color:white;
    margin-left:110px;
    background-image: none;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    width:1cm;
    height: 1cm;
}

.prod .design h5{
    padding-top:7px;
    color:black;
    font-size:20px;
}

 .prod .design h4{
    padding-top:7px;
    font-size:17px;
    font-weight: 700;
    color: rgb(0,109,91);
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
