a:link { text-decoration: none; }
 
a{color: black;}
a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color:black
}
.container1{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); 
    margin-left:18%;
    margin-right: 18%;
    margin-bottom: 10%;
    margin-top: 5%;
    display:grid;

   
    
}
.container1 button{
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left:41%;
    margin-top:5%;
    margin-bottom: 5%;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:50px;
    padding-right: 50px;
    border:none;
    border-radius: 10px;
    background-color: rgb(0,109,91);
    color:white;
    cursor: pointer;
    font-size:16;

 

}
button:hover{
    color:black;
    background-color: white;
    transition: 0.25s ease;
}