body{
    width:100%;
}

#wish{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    padding:20px;
   
}
#wish h1{
    justify-content: center;
    text-align: center;
    font-size:30;
    letter-spacing: 1;
}

#wish .wishTable table{
    border-collapse: collapse;
    margin:25px 0;
    font-size:18;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); 
    border-radius: 25px;
    
}
 .wishTable tr{
    text-align: center;
}
.wishTable th{
    text-align:center;
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 18;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
     
}
.wishTable tr,td{
    padding:5px 40px;
}
.wishTable td{
    font-size:16;
}
.wishTable button{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right: 15px;
    margin:5px 10px;
    border:none;
    border-radius: 10px;
    background-color: rgb(0,109,91);
    color:white;
    cursor: pointer;
    font-size:14;

}
.wishTable button:hover{
    color:black;
    background-color: white;
    transition: 0.25s ease;
}
.wishTable img{
    cursor: pointer;
}
.delbutton{
    cursor:pointer;
    padding-top:20;
    padding-bottom: 20;
    padding-left: 50;
    padding-right: 50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18;
    background-color:rgb(0,109,91);
    border: none;
    color:white;
    border-radius: 10px;
}
.delbutton:hover{
    background-color: white;
    color:black;
    transition: 0.25s ease;
}
