<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/about.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    </head>
    <body>
         
      <%- include('../partials/nav') %>

        <section id = "aboutUs">
            <div class="cont">
                <h1>This is Couchly</h1>
                <p>Our vision is to create a better everyday life for the many people.
                 Here you can discover what this means and find out who we are, what we do and what we’re working towards.</p>
                 <br>
                 <h1>About us</h1>
                 <p>We want to help build society that's farier and more equal.
                     To do this we will put people first and grow our business in an inclusive way.
                     We want to empower people to live more sustainably, so we're focusing on affordable, resource and energy efficient products</p>
                     <br>
                <h1>Meet our team</h1>
        </section>

        <div class="team">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/rana.jpg" alt="rana" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3> 
                        <p>Founder</p> 
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Shawer.jpg" alt="Mamdouh" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Mamdouh Shawer</h3>  
                        <p>Team Leader</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/maya.jpeg" alt="maya" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Maya Waleed</h3> 
                        <p>Founder</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Ahmed.jpg" alt="Ahmed" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3> 
                        <p>Founder</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Ahmed.jpg" alt="rana" style="width:200px;height:200px; border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3>  
                        <p>Founder</p> 
                      </div>
                    </div>
                  </div>
                
                </div>
            </div>
           <a href="/api"> <button>map</button></a>
        </div>
       
        <%- include('../partials/footer') %>
 
       

        
    </body>
</html>