<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    </head>
    <body>
        

      <!--<section id="header">
            <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                    alt="Logo" width="145" height="50"></a>
            <div class="container">
                <div>
                    <ul id="navbar">
                        <input type="search" id="search" placeholder="Search..">
                        <li><a href="../../index.html" >Home</a></li>
                        <li><a href="shop.html">Categories</a></li>
                        <li><a href="about.html" class="active">About</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li> 
                        <li><a href="login.html">Log in</a></li>
                        </div>
                    </ul>

                </div>

            </div>

        </section>-->  
        <%-include("./partials/nav.ejs")%>

        <section id = "aboutUs">
            <div class="cont">
                <h1>This is Couchly</h1>
                <p>Our vision is to create a better everyday life for the many people.
                 Here you can discover what this means and find out who we are, what we do and what we’re working towards.</p>
                 <br>
                 <h1>About us</h1>
                 <p>We want to help build society that's farier and more equal.
                     To do this we will put people first and grow our business in an inclusive way.
                     We want to empower people to live more sustainably, so we're focusing on affordable, resource and energy efficient products</p>
                     <br>
                <h1>Meet our team</h1>
        </section>

        <div class="team">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/rana.jpg" alt="rana" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3> 
                        <p>Founder</p> 
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Shawer.jpg" alt="Mamdouh" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Mamdouh Shawer</h3>  
                        <p>Team Leader</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/maya.jpeg" alt="maya" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Maya Waleed</h3> 
                        <p>Founder</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Ahmed.jpg" alt="Ahmed" style="width:200px;height:200px;border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3> 
                        <p>Founder</p>  
                      </div>
                    </div>
                  </div>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="../../imgs/Ahmed.jpg" alt="rana" style="width:200px;height:200px; border-radius: 20px;">
                      </div>
                      <div class="flip-card-back">
                        <h3>Rana Mohamed</h3>  
                        <p>Founder</p> 
                      </div>
                    </div>
                  </div>
                
                </div>
            </div>
        </div>
       

        <footer class="pageFooter" >
            <div class="col">
                <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
                <h4>Contact</h4>
                <p><strong>Adress: </strong>Misr International University</p>
                <p><strong>Phone: </strong>0100000000</p>
                <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
                <div class = "follow">
                    <h4>Follow us</h4>
                    <div class = "icon">
                        <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                        <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="/about">About us</a>
                <a href="/index">Home</a>
                <a href="/privacyPolicy">Privacy policy</a>
                <a href="/terms&condition">Terms & conditions</a>
             
            </div>

            <div class="col">
                <h4>My Acoount</h4>
                <a href="/login">Sign in</a>
                <a href="/cart">View cart</a>
                <a href="/wishlist">My wishlist</a>
             
            </div>

            <div class="col install">
                <h4>Install app</h4>
                <p>From App-Store or Google play</p>
                <div class="row">
                    <img src="../../imgs/appStore.png" width="130" height="40">
                    <img src="../../imgs/googlePlay (2).png" width="130" height="40">
                </div>
                <p>Secured payment geteways</p>
                <img src="../../imgs/Payment.png" width="300" height="50">
            
            </div>

           
        </footer>


                 <div class="copyright">
                    <p>© 2023, Couchly - E-Commerce</p>
                 </div>





        
    </body>
</html>