<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="../css/addUser.css">

    <script>
        function validateForm() {
            // Get the values from the form
            var firstname = document.getElementById("firstname").value.trim();
            var lastname = document.getElementById("lastname").value.trim();
            var username = document.getElementById("username").value.trim();
            var email = document.getElementById("email").value.trim();
            var password = document.getElementById("password").value.trim();
            var confirmpassword = document.getElementById("confirmpassword").value.trim();
            var role = document.getElementById("role").value.trim();

            // Validate the inputs
            var hasErrors = false;
            if (firstname === "") {
                hasErrors = true;
                document.getElementById("firstnameError").innerText =
                    "First name is required";
            } else {
                document.getElementById("firstnameError").innerText = "";
            }

            if (lastname === "") {
                hasErrors = true;
                document.getElementById("lastnameError").innerText =
                    "Last name is required";
            } else {
                document.getElementById("lastnameError").innerText = "";
            }

            if (username === "") {
                hasErrors = true;
                document.getElementById("usernameError").innerText = "Username is required";
            } else {
                document.getElementById("usernameError").innerText = "";
            }

            if (email === "") {
                hasErrors = true;
                document.getElementById("emailError").innerText = "Email is required";
            } else if (!isValidEmail(email)) {
                hasErrors = true;
                document.getElementById("emailError").innerText = "Invalid email address";
            } else {
                document.getElementById("emailError").innerText = "";
            }

            if (password === "") {
                hasErrors = true;
                document.getElementById("passwordError").innerText = "Password is required";
            } else if (password.length < 8) {
                hasErrors = true;
                document.getElementById("passwordError").innerText =
                    "Password must be at least 8 characters";
            } else {
                document.getElementById("passwordError").innerText = "";
            }

            if (confirmpassword === "") {
                hasErrors = true;
                document.getElementById("confirmpasswordError").innerText =
                    "Confirm password is required";
            } else if (confirmpassword !== password) {
                hasErrors = true;
                document.getElementById("confirmpasswordError").innerText =
                    "Passwords do not match";
            } else {
                document.getElementById("confirmpasswordError").innerText = "";
            }

            if (role === "") {
                hasErrors = true;
                document.getElementById("roleError").innerText = "Role is required";
            } else {
                document.getElementById("roleError").innerText = "";
            }

            // If there are errors, prevent the form from submitting
            if (hasErrors) {
                return false;
            }

            // If there are no errors, allow the form to submit
            return true;
        }

        function isValidEmail(email) {
            // Use a regular expression to validate the email address
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

    </script>
</head>

<body>
    <!-- Sidebar -->
    <%- include('../partials/adminNav') %>
        <!-- Sidebar -->
        <!-- CONTENT -->
        <section id="content">
            <!-- NavBar -->
           <%- include ('../partials/navAdmin')%>
            <!-- NavBar -->
            <!-- Form -->
            <div class="bodys">
                <div class="container">
                    <div class="header">
                        <h2>Add User Form</h2>
                    </div>

                    <form action="/userForm" method="post" class="form" id="userForm" onsubmit="validateForm()">
                        <div class="form-control">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" name="Firstname" placeholder="Enter firstname" />
                            <span id="firstnameError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" name="Lastname" placeholder="Enter lastname" />
                            <span id="lastnameError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="Username" placeholder="Enter username" />
                            <span id="usernameError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter email" />
                            <span id="emailError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter password" />
                            <span id="passwordError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" id="confirmpassword" name="confirmpassword"
                                placeholder="Confirm password" />
                            <span id="confirmpasswordError" class="error-message"></span>
                        </div>
                        <div class="form-control">
                            <label for="role">Role</label>
                            <select id="role" name="type">
                                <option value="">Select role</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                            <span id="roleError" class="error-message"></span>
                        </div>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </section>

        <script src="../js/addUser.js"></script>
</body>

</html>