<html>
    <head>
        <title>Couchly | Chairs</title>

        <link rel="stylesheet" href="/css/chair.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    </head>
    <body>
        <%- include('../partials/nav') %>
        <table>
            <tr>
                <h1>Chairs</h1>
                <div class="products">

                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/chair1.png" alt="chair1">
                   </a>
                    <div class="design">
                        <span>Chairs</span>
                        <h5>Black chair</h5>
                      <h5>20000EGP</h5>
                      <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                     
                    </div>
                </div> 
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/chair2.png" alt="chair2">
                    </a>
                    <div class="design">
                        <span>Chairs</span>
                        <h5>Orange chair</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/chair3.png" alt="chair3">
                    </a>
                    <div class="design">
                        <span>Chairs</span>
                        <h5>Grey chair</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>


                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/chair4.png" alt="chair4">
                    </a>
                    <div class="design">
                        <span>Chairs</span>
                        <h5>Beige chair </h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
            </div>
            </div>
            </td>
            </tr>

                <tr>
                <td>
                  <div class="prod">
                    <a href="../html/description.html">
                  <img src="../../imgs/chair5.png" alt="chair5">
                </a>
                  <div class="design">
                    <span>Chairs</span>
                    <h5>Yellow chair</h5>
                    <h5>20000EGP</h5>
                    <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                  </div>
                  </div>
                  </td> 
                   </td>
                   </tr>
</table>
</section>
<%- include('../partials/footer') %>

</body>
</html>