<html>
    <head>
        <title>Couchly | Decorations</title>

        <link rel="stylesheet" href="../css/decor.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    </head>
    <%- include('../partials/nav') %>

        <table>
            <tr>
                <h1>Decor</h1>
                <div class="products">

                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/hd1.png" alt="vase1">
                    </a>
                    <div class="design">
                        <span>Decorations</span>
                        <h5>Vase</h5>
                      <h5>20000EGP</h5>
                      <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                     
                    </div>
                </div> 
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/hd2.png" alt="vase2">
                    </a>
                    <div class="design">
                        <span>Decorations</span>
                        <h5>Vase</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/hd3.png" alt="vase3">
                    </a>

                    <div class="design">
                        <span>Decorations</span>
                        <h5>Vase</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>


                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs/hd4.png" alt="vase4">
                    </a>
                    <div class="design">
                        <span>Decorations</span>
                        <h5>Vase </h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
            </div>
            </div>
            </td>
            </tr>

                <tr>
                <td>
                  <div class="prod">
                    <a href="../html/description.html">
                  <img src="../../imgs/hd5.png" alt="vase5">
                </a>
                  <div class="design">
                    <span>Decorations</span>
                    <h5>Vase</h5>
                    <h5>20000EGP</h5>
                    <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                  </div>
                  </div>
                  </td> 
                   </td>
                   </tr>
</table>
</section>
<br>
<br>
<%- include('../partials/footer') %>

  
</body>
</html>