<html>
    <head>
        <title>Couchly | Description</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="../css/description.css">
        
    </body>
    </head>
    <body>

        
        <%- include('../partials/nav') %>


        <div class ="container1">
          <div class="xzoom-container">
            <img src="../../imgs/bed1.png" class="xzoom" xoriginal="../../imgs/bed1.png">
          </div>
          <div class="description">
            <h1>Grey comfy bed</h1>
            <p>The compact design is perfect for tight spaces or under low ceilings, so you can make the most of your available space.

                The hard-wearing solid pine has natural variations in grain, colour and texture, giving every piece a unique look.</p>
                <p>If you oil, wax, lacquer or stain the untreated solid wood surface it will be more durable and easy to care for.
                    There’s plenty of space under the bed for storage boxes - perfect for storing extra duvets and pillows.
                    You can easily vacuum under the bed frame to keep the space clean and dust-free.</p>
                    <h2>20000EGP</h2><br>
                    <div class="options">
                    <label for="quant">Quantity </label>
                    <select name="quant" id="quantity">
                        <option value ="1">1</option>
                        <option value ="2">2</option>
                        <option value ="3">3</option>
                        <option value ="4">4</option>
                        <option value ="5">5</option>
                    </select>
                    <br>
                </div>
                    <div>
                        <button class="addWish">Add to wishlist</button>
                        <button class="addCart">Add to cart</button>
                    </div>
          </div>


        </div>
      
<%- include('../partials/footer') %>
       


</html>