<html>
    <head>
        <title>Description</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <link rel="stylesheet" href="../css/description.css">
        
    </body>
    </head>
    <body>

        <section id="header">
            <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                    alt="Logo" width="145" height="50"></a>
            <div class="container">
                <div>
                    <ul id="navbar">
                        <input type="search" id="search" placeholder="Search..">
                        <li><a href="../../index.html" >Home</a></li>
                        <li><a href="shop.html"  class="active">Categories</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li> 
                        <li><a href="login.html">Log in</a></li>
                        </div>
                    </ul>

                </div>

            </div>

        </section>


        <div class ="container1">
          <div class="xzoom-container">
            <img src="../../imgs/bed1.png" class="xzoom" xoriginal="../../imgs/bed1.png">
          </div>
          <div class="description">
            <h1>Grey comfy bed</h1>
            <p>The compact design is perfect for tight spaces or under low ceilings, so you can make the most of your available space.

                The hard-wearing solid pine has natural variations in grain, colour and texture, giving every piece a unique look.</p>
                <p>If you oil, wax, lacquer or stain the untreated solid wood surface it will be more durable and easy to care for.
                    There’s plenty of space under the bed for storage boxes - perfect for storing extra duvets and pillows.
                    You can easily vacuum under the bed frame to keep the space clean and dust-free.</p>
                    <h2>20000EGP</h2><br>
                    <div class="options">
                    <label for="quant">Quantity </label>
                    <select name="quant" id="quantity">
                        <option value ="1">1</option>
                        <option value ="2">2</option>
                        <option value ="3">3</option>
                        <option value ="4">4</option>
                        <option value ="5">5</option>
                    </select>
                    <br>
                    <label for="size">Size </label>
                    <button >120cm*190cm</button>
                    <button >135cm*190cm</button>
                    <button >150cm*200cm</button>
                    <button >180cm*200cm</button>
                </div>
                    <div>
                        <button class="addWish">Add to wishlist</button>
                        <button class="addCart">Add to cart</button>
                    </div>
          </div>


        </div>
      
        <footer class="pageFooter" >
            <div class="col">
                <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
                <h4>Contact</h4>
                <p><strong>Adress: </strong>Misr International University</p>
                <p><strong>Phone: </strong>0100000000</p>
                <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
                <div class = "follow">
                    <h4>Follow us</h4>
                    <div class = "icon">
                        <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                        <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="../html/about.html">About us</a>
                <a href="../../index.html">Home</a>
                <a href="../html/privacyPolicy.html">Privacy policy</a>
                <a href="../html/terms&condition.html">Terms & conditions</a>
             
            </div>

            <div class="col">
                <h4>My Acoount</h4>
                <a href="login.html">Sign in</a>
                <a href="cart.html">View cart</a>
                <a href="wishlist.html">My wishlist</a>
             
            </div>

            <div class="col install">
                <h4>Install app</h4>
                <p>From App-Store or Google play</p>
                <div class="row">
                    <img src="../../imgs/appStore.png" width="130" height="40">
                    <img src="../../imgs/googlePlay (2).png" width="130" height="40">
                </div>
                <p>Secured payment geteways</p>
                <img src="../../imgs/Payment.png" width="300" height="50">
            
            </div>

           
        </footer>


                 <div class="copyright">
                    <p>© 2023, Couchly - E-Commerce</p>
                 </div>


</html>