<head>
    <link rel="stylesheet" href="../css/footer.css">
    <title>My profile</title>
</head>
<body>
<%- include("../partials/nav.ejs") %>
<div>
    <h1>Edit Product</h1>
</div>
<div>
<form action="/editProd" method="post">
    New Name: <input type ="text" name="name" required placeholder="name">
    New description: <input type ="text" name="description" required placeholder="description">
    New quantity: <input type ="text" name="quantity" required placeholder="quantity">
    New price: <input type ="text" name="price" required placeholder="price">
    <input type="submit" name="submit">

</form>
</div>
</body>