<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="/css/err.css">

</head>
<body>
  <%- include("../partials/nav.ejs") %>

    <div class ="container1">
      <h1><%= err %></h1>
    </div>
    <%- include("../partials/footer.ejs") %>

</body>

</html>