<!DOCTYPE html>
<html lang="en">
<head>
    <title>Couchly</title>
    <%- include('../partials/nav') %>
       <link rel="stylesheet" href="/css/index.css" />
</head>
<body>

   
    <body class="d-flex flex-column min-vh-100">
        <div class="container">
          <section id="HomePhoto">
            <div class="split left">
                <h2>Super value deals</h2>
                <h1>On all products</h1>
                <p>Save more with coupons & up to 10% off!</p>
                <a href="/shop">
                    <button>Shop now</button>
                </a>
            </div>
        </section>

        <br>
        <section id="feature" class="Arrival">
            <h2>New Arrivals</h2>
            <p>New essential comfy furniture every home needs, with new modern designs</p>

            <div class="pro-container1">

                <div class="prod">
                    <img src="/imgs/hd1.png" alt="hd1">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Cylinder vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd6.png" alt="hd6">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Circular vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd3.png" alt="hd3">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Small vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd4.png" alt="hd4">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Metalic vase</h5>
                    </div>
                </div>
            </div>

        </section>
        <br>


        <section id ="banner" class="section-banner">
        
            <h2>Up to <span>10% off</span> on all products</h2>
            <button><a href="/shop"><strong>Explore more</strong></a></button>
        </section>
        <br>

        <section id="feature" class="hd">
            <h2>Home Decor</h2>
            <p>New home decors to pamper your house</p>
            <div class="pro-container1">

                <div class="prod">
                    <img src="/imgs/hd1.png" alt="hd1">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Cylinder vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd6.png" alt="hd6">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Circular vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd3.png" alt="hd3">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Small vase</h5>
                    </div>
                </div>


                <div class="prod">
                    <img src="/imgs/hd4.png" alt="hd4">

                    <div class="des">
                        <span>Home decor</span>
                        <h5>Metalic vase</h5>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <script src="/js/script.js"></script>

</body>
<%- include('../partials/footer') %>
</html>