<html>
    <head>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> 
        <link rel="stylesheet" href="/css/login.css">
        <title><%= title %></title>
      <body>
                <img  src="../../imgs/logo.png" alt=" " class="logo" width="115" heigth="40">
            <div class="package">
                    <div class="form">
                 <span class="login">Login</span>
                 <form action="logform" method="post"> 
                 <div class="email"> 
             <i class="uil uil-envelope"></i>
            <input type="text" name="password"placeholder="Email" required>
        </div>
        <div class="password"> 
            <i class="uil uil-lock"></i>
            <input type="password" name="password" placeholder="Password" required>
            <i class="uil uil-eye-slash"></i>
         </div> 
            <div class="check">
           <input type="checkbox" id="check1" required>
           <label for="check1" class="text">Remember me</label>
           <a href="&" target="_blank">Forgot your password?</a>
         </div>
         
         <button class="button">Log in</button>
         <br>
         <div class="account">
            <style>
                a {
                     color: #000000;
                } 
              </style>
            <a href="/rgestration">Create an account</a>
         </div>
         
     </form>
     </div>
     </div>
     </body>
     </head>
     </html>