<head>
    <link rel="stylesheet" href="/css/profile.css">
    <title>My profile</title>
</head>
<body>
<%- include("../partials/nav.ejs") %>

<h1>Hello <%= user.Username %></h1>
<a href="/index">Logout</a>
<%- include("../partials/footer.ejs") %>

</body>