<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../css/dashboard.css">
	<title>
Couchly | Admin dashboard	</title>


</head>

<body>
	<%- include('../partials/adminNav') %>

		<!-- Sidebar -->
		<!-- CONTENT -->
		<section id="content">
			<!-- NavBar -->

			<!-- NavBar -->
			<!-- MAIN -->
			<main>
				
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>Recent Orders</h3>
							<form action="/dashboard/search" method="GET">
								<input type="text" name="query" placeholder="Search for order ...">
								<button  class='bx bx-search' type="submit" href=""></button>
								</form>
							
						</div>
						<table>
							<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>

								<% recentOrder.forEach((user)=> { %>
									<tr>
										<td>
											<p>
												<%= user.FirstName %>
											</p>
										</td>
										<td>
											<p>
												<%= user.LastName %>
											</p>
										</td>
										<td><span class="status completed">Completed</span></td>
									</tr>
									<% }) %>

							</tbody>
						</table>
					</div>

					
			</main>
		</section>

		
		<script src="/js/dashboard.js"></script>

</body>

</html>