<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/removeUser.css">
   
</head>
<body>
    <%- include('../partials/adminNav') %>

    <section id="content">

        <nav>
            <i class='bx bx-menu' ></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search....">
                    <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
                </div>
            </form>
            <a href="#" class="notification">
                <i class='bx bxs-bell' ></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                <img src="Ahmed.jpg" alt="">
            </a>
        </nav>
        
        <div class="table">
            <div class="table-header">
                <p>User detalis</p>
                <div>
                    <input type="search" placeholder="Search for user ...">
                    <button class="add-new">Search</button>
                </div>
            </div>
            <div class="table-section">
                <table>
                    <thead>
                        <tr>
                           <th>First name</th>
                           <th>Last name</th>
                           <th>username</th>
                           <th>Email</th>
                           <th>password</th>
                           <th>status</th>
                           <th>Action</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Ahmed</td>
                            <td>Hossam</td>
                            <td>AhmedHossam_26</td>
                            <td>ahmed@gmail.com</td>
                            <td>123456</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ahmed</td>
                            <td>Zizo</td>
                            <td>zizo_25</td>
                            <td>ahmedzizo@gmail.com</td>
                            <td>1911</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>mahmoud</td>
                            <td>shikabla</td>
                            <td>shika</td>
                            <td>shika@gmail.com</td>
                            <td>123456</td>
                            <td class="offline">offline</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Cristiano</td>
                            <td>Ronaldo</td>
                            <td>Ronaldo</td>
                            <td>Ronaldo@gmail.com</td>
                            <td>123456</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>mohamed</td>
                            <td>salah</td>
                            <td>moSalah</td>
                            <td>moSalah@gmail.com</td>
                            <td>123456</td>
                            <td class="offline">offline</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Omar</td>
                            <td>Amr</td>
                            <td>mero</td>
                            <td>mero@gmail.com</td>
                            <td>123456</td>
                            <td class="offline">offline</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mostafa</td>
                            <td>Ahmed</td>
                            <td>Tata</td>
                            <td>moSalah@gmail.com</td>
                            <td>123456</td>
                            <td class="offline">offline</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Nada</td>
                            <td>abdelrahman</td>
                            <td>Nada</td>
                            <td>nada@gmail.com</td>
                            <td>123456</td>
                            <td class="offline">offline</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Rana</td>
                            <td>mohamed</td>
                            <td>Rana</td>
                            <td>rana@gmail.com</td>
                            <td>123456</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mamdouh</td>
                            <td>mohamed</td>
                            <td>shawer</td>
                            <td>shawer@gmail.com</td>
                            <td>123456</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Maya</td>
                            <td>waleed</td>
                            <td>Maya</td>
                            <td>maya@gmail.com</td>
                            <td>123456</td>
                            <td class="online">online</td>
                            <td>
                                <button><i class='bx bxs-edit-alt' ></i></button>
                                <button><i class='bx bxs-trash' ></i></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <div><i class='bx bx-chevrons-left' ></i></div>
                <div><i class='bx bx-chevron-left' ></i></div>
                <div>1</div>
                <div>2</div>
                <div><i class='bx bx-chevron-right' ></i></div>
                <div><i class='bx bx-chevrons-right' ></i></div>
            </div>
        </div>
    </section>
        
        
   
     <script src="dashboard.js"></script>
</body>

</html>
