<html>
    <head>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> 
        <link rel="stylesheet" href="/css/registration.css">
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/js/AJAX-username.js"></script>
        <title>Couchly | Registeration</title>
    </head>
    <body>
        <div class="split left">
            <div class="centered">
            <img  src="../../imgs/logo.png" width="300" height="100" alt="">
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">

              <div class="package">
             
             <span class="Register">Register</span>
          <form  class="form" id="regform" action="regform" method="post"> 
           <div class="Registeration"> 
            <div class="inputControl">
                <i class="uil uil-user"></i>
            <input type="text" placeholder="first name" name="first" id="first">
            <span class="error"></span>
            </div>

            <div class="inputControl">
                <i class="uil uil-angle-right"></i>
            <input type="text" placeholder="Last name" name="last" id="last">
            <span class="error"></span>
            </div>

            <div class="inputControl">
                <i class="uil uil-angle-right"></i>
                <input type="text" placeholder="UserName" name="un" id="username">
                <span class="error"></span>
                </div>
            
                <div class="inputControl">
                    <i class="uil uil-envelope"></i>
                    <input type="text" placeholder="Email" name="email" id="email">
                    <span class="error"></span>
                    <div class="erro"></div>
                    </div>
            
                    <div class="inputControl">
                       <i class="uil uil-lock"></i>
                     <input type="password" placeholder="Password" name="pass" id="pass">
                     <span class="error"></span>
                     <div class="erro" ></div>
                    </div>
           
            <div class="inputControl">
                    <i class="uil uil-corner-down-right-alt"></i>
                   <input type="password" placeholder="Confirm Password" name="Cpass" id="pass2">
                   <span class="error"></span>
                   <div class="erro"></div>
               </div>
               <button class="button" type="submit" method="post"  action="regform">Register</button>
               <a href="/login">
                   <button class="button1" type="button">Back</button>
                </a>
               </div>
               </div>
            </form>
            <script defer src="/js/reg.js"></script>
 </body>
</html>