<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="salesAdmin.css">
    <script defer src="salesAdmin.js"></script>
    <title>couchly</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('../partials/adminNav') %>

<section id="content">

    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search....">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <a href="#" class="notification">
            <i class='bx bxs-bell' ></i>
            <span class="num">8</span>
        </a>
        <a href="#" class="profile">
            <img src="Ahmed.jpg" alt="">
        </a>
    </nav>
    <div class="container">
        <header>Sales </header>

<form id="form" action="/">
  <div class="form first">
    <div class="product details">
    <div class="fields">
        <div class="label-field">
          <label for="input">Product Name</label> 
         </div>
         <div class="input-field">
         <input id ="ProductName" type ="text" name="ProductName"  placeholder="" >
         <div class="error"></div>
        </div>
         <div class="label-field">
          <label for="input">Product Category</label>
         </div>
        <div class="input-field">
          <input id="ProductCategory" type ="text" name="ProductCategory" placeholder="">
          <div class="error"></div>
        </div>
    <div class="label-field">
      <label for="input">Main Price</label>
    </div>
    <div class="input-field">
            <input id="MainPrice" type ="number" name="MainPrice"  placeholder="" >
            <div class="error"></div>
    </div>
    <div class="label-field">
      <label for="input">Sale Percent</label>
    </div>
    <div class="input-field">
        <input id="SalePercent" type ="number" name="SalePercent"  placeholder="" >
        <div class="error"></div>
</div>
    <div class="label-field">
      <label for="input">Main image</label> 
  </div>
    <div class="input-field">
         <input id="Mainimage" type ="file" name="Mainimage" placeholder="" >
         <div class="error"></div>
    </div>
  </div >
  <button class="add-btn">Apply</button>
  </div>
  </div>
  </form>
  </div>
</body>
</html>
