<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/shopStyle.css">
    <title>Categories</title>
</head>
<body>
    <section id="header">
        <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                alt="Logo" width="145" height="50"></a>
        <div class="container">
            <div>
                <ul id="navbar">
                    <input type="search" id="search" placeholder="Search..">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="shop.html" class="active">Categories</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="login.html">Log in</a></li>
                    </div>
                </ul>
            </div>
        </div>
</section>

        <input type="search"  id="search" placeholder="Search..">
        <br>
        <h1>Categories</h1>
        <p>Each category will impress you</p>
        <div class="Contain">
            <div class="box" id="col1">
                <a href="beds.html">
                    <button type="button" class="b">
                        <img src="../../imgs/bed1.png" alt="">
                        <p>Beds</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col2">
                <a href="coach.html">
                    <button type="button" class="b">
                        <img src="../../imgs/c1.png" alt="">
                        <p>couches</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col3">
                <a href="kitchens.html">
                    <button type="button" class="b">
                        <img src="../../imgs/kit2.png" alt="">
                        <p>kitchens</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col4">
                <a href="desks.html">
                    <button type="button" class="b">
                        <img src="../../imgs/desk.png" alt="">
                        <p>desks</p>
                    </button>
                </a>
            </div>
        </div>
        <br>
        <div class="Contain">
            <div class="box" id="col1">
                <a href="decor.html">
                    <button type="button" class="b">
                        <img src="../../imgs/hd1.png" alt="">
                        <p>Decorations</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col2">
                <a href="L-shape.html">
                    <button type="button" class="b">
                        <img src="../../imgs/L1.png" alt="">
                        <p>L-Shapes</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col3">
                <a href="chair.html">
                    <button type="button" class="b">
                        <img src="../../imgs/chair2.png" alt="">
                        <p>Chairs</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col4">
                <a href="wardrobe.html">
                    <button type="button" class="b">
                        <img src="../../imgs/dolab3.png" alt="">
                        <p>Cupboards</p>
                    </button>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <footer class="pageFooter" >
            <div class="col">
                <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
                <h4>Contact</h4>
                <p><strong>Adress: </strong>Misr International University</p>
                <p><strong>Phone: </strong>01000000000</p>
                <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
                <div class = "follow">
                    <h4>Follow us</h4>
                    <div class = "icon">
                        <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                        <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="../html/about.html">About us</a>
                <a href="../../index.html">Home</a>
                <a href="../html/privacyPolicy.html">Privacy policy</a>
                <a href="../html/terms&condition.html">Terms & conditions</a>
             
            </div>
    
            <div class="col">
                <h4>My Acoount</h4>
                <a href="login.html">Sign in</a>
                <a href="cart.html">View cart</a>
                <a href="wishlist.html">My wishlist</a>
             
            </div>
    
            <div class="col install">
                <h4>Install app</h4>
                <p>From App-Store or Google play</p>
                <div class="row">
                    <img src="../../imgs/appStore.png" width="130" height="40">
                    <img src="../../imgs/googlePlay (2).png" width="130" height="40">
                </div>
                <p>Secured payment geteways</p>
                <img src="../../imgs/Payment.png" width="300" height="50">
            
            </div>
    
           
        </footer>
    
    
                 <div class="copyright">
                    <p>© 2023, Couchly - E-Commerce</p>
                 </div>
    
</body>
</html>