<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couchly | Categories</title>
    <%- include('../partials/lang') %>

    <%- include('../partials/nav') %>
    <link rel="stylesheet" href="/css/shopStyle.css"/>
</head>
<body>
        <br>
        <h1>Categories</h1>
        <p>Each category will impress you</p>
        <div class="Contain">
            <div class="box" id="col1">
                <a href="/beds">
                    <button type="button" class="b">
                        <img src="../../imgs/bed1.png" alt="">
                        <p>Beds</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col2">
                <a href="/coach">
                    <button type="button" class="b">
                        <img src="../../imgs/c1.png" alt="">
                        <p>couches</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col3">
                <a href="/kitchens">
                    <button type="button" class="b">
                        <img src="../../imgs/kit2.png" alt="">
                        <p>kitchens</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col4">
                <a href="/desks">
                    <button type="button" class="b">
                        <img src="../../imgs/desk.png" alt="">
                        <p>desks</p>
                    </button>
                </a>
            </div>
        </div>
        <br>
        <div class="Contain">
            <div class="box" id="col1">
                <a href="/decor">
                    <button type="button" class="b">
                        <img src="../../imgs/hd1.png" alt="">
                        <p>Decorations</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col2">
                <a href="/L-shape">
                    <button type="button" class="b">
                        <img src="../../imgs/L1.png" alt="">
                        <p>L-Shapes</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col3">
                <a href="/chair">
                    <button type="button" class="b">
                        <img src="../../imgs/chair2.png" alt="">
                        <p>Chairs</p>
                    </button>
                </a>
            </div>
            <div class="box" id="col4">
                <a href="/wardrobe">
                    <button type="button" class="b">
                        <img src="../../imgs/dolab3.png" alt="">
                        <p>Cupboards</p>
                    </button>
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <%- include('../partials/footer') %>
</body>
</html>