<html>
    <head>
        <title>Terms and Conditions</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/terms&condition.css">
        <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    </head>
    <body>

 
        <section id="header">
            <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                    alt="Logo" width="145" height="50"></a>
            <div class="container">
                <div>
                    <ul id="navbar">
                        <input type="search" id="search" placeholder="Search..">
                        <li><a href="../../index.html" >Home</a></li>
                        <li><a href="shop.html">Categories</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                         <li><a href="login.html">Log in</a></li>
                        

                        </div>
                    </ul>

                </div>

            </div>

        </section>

        <section id="Terms_cond">
            <div class="term">
                <h1>Couchly Terms and Conditions</h1>
                <ol>
                    <li><strong>INTRODUCTION</strong></li>
                </ol>
                <p>This Terms of Use Agreement applies to any and all websites, apps, and online services associated with Southwest Commercial Products, Inc.  By using the sites, you agree to be bound by all the terms and conditions contained in this Agreement and any and all rules, guidelines and directions found throughout the sites. Please read this Agreement carefully. This Agreement applies to all users of the sites, including users who are viewers of material on the sites and users who register for the sites.</p>
                <p>Please note the arbitration provision set forth below, requiring—except where and to the extent prohibited by law, which may include the State of Texas—you to arbitrate any claims you may have against Company on an individual basis. ARBITRATION ON AN INDIVIDUAL BASIS MEANS THAT YOU WILL NOT HAVE, AND YOU WAIVE, THE RIGHT FOR A JUDGE OR JURY TO DECIDE YOUR CLAIMS, IF ANY, AND THAT YOU MAY NOT PROCEED IN A CLASS, CONSOLIDATED, OR REPRESENTATIVE CAPACITY.</p>
                <ol start="2">
                    <li><strong>AGE LIMITATION</strong></li>
                </ol>  
                   <p>By using the Sites you represent that you are at least 13 years old. YOU MAY NOT USE OR REGISTER FOR THE SITES IF YOU ARE UNDER THE AGE OF 13.</p>
                <ol start="3">
                    <li><strong>PRIVACY</strong></li>
                </ol>  
                <p>Please review our Privacy Policy, which also governs your visit to the Sites, to understand our privacy practices</p>
                <ol start="4">
                    <li><strong>CONSIDERATION</strong></li>
                </ol>
                <p>You acknowledge that this Agreement is supported by reasonable and valuable consideration, the receipt and adequacy of which is hereby acknowledged. Without limiting the foregoing, you acknowledge that such consideration includes, without limitation, your use of the sites and receipt of data, materials and information available at or through the sites.</p>
                <ol start="5">
                    <li><strong>DISPUTES AND AGREEMENT TO ARBITRATE</strong></li>
                </ol>
                <p>Except where and to the extent prohibited by law, which may include the State of Texas, by using the sites, you and Company agree that, if there is any controversy, claim, action, or dispute arising out of or related to your use of the sites, or the breach, enforcement, interpretation, or validity of this Agreement or any part of it (“Dispute”), both parties shall first try in good faith to settle such Dispute by providing written notice to the other party describing the facts and circumstances of the Dispute and allowing the receiving party 30 days in which to respond to or settle the Dispute.</p>
                <p>Notice shall be sent to:  Southwest Commercial Products, Inc.,  2436 Ludelle St., Fort Worth, TX 76105  800-227-6994</p>
                <p>Both you and Company agree that this dispute resolution procedure is a condition precedent that must be satisfied before initiating any litigation or filing any claim against the other party. IF ANY DISPUTE CANNOT BE RESOLVED BY THE ABOVE DISPUTE RESOLUTION PROCEDURE, YOU AGREE THAT THE SOLE AND EXCLUSIVE JURISDICTION FOR SUCH DISPUTE WILL BE DECIDED BY BINDING ARBITRATION ON AN INDIVIDUAL BASIS. ARBITRATION ON AN INDIVIDUAL BASIS MEANS THAT YOU WILL NOT HAVE, AND YOU WAIVE, THE RIGHT FOR A JUDGE OR JURY TO DECIDE YOUR CLAIMS, AND THAT YOU MAY NOT PROCEED IN A CLASS, CONSOLIDATED, OR REPRESENTATIVE CAPACITY. Other rights that you and we would have in court will not be available or will be more limited in arbitration, including discovery and appeal rights. All such Disputes shall be exclusively submitted to JAMS (www.jamsadr.com) for binding arbitration under its rules then in effect, before one arbitrator to be mutually agreed upon by both parties.
                    The arbitrator, and not any federal, state, or local court or agency, shall have exclusive authority to resolve any dispute arising under or relating to the interpretation, applicability, enforceability, or formation of these Terms of Use, including any claim that all or any part of these Terms of Use are void or voidable.</p>
                 <ol start="6">
                    <li><strong>CHOICE OF LAW</strong></li>
                 </ol>   
                 <p>This Agreement has been made in, and shall be construed in accordance with, the laws of the State of Texas, without giving effect to any conflict of law principles. The parties acknowledge that this Agreement evidences a transaction involving interstate commerce.</p>
                 <ol start="7">
                    <li><strong>OWNERSHIP OF INTELLECTUAL PROPERTY</strong></li>
                 </ol>
                 <p>All Trademark rights in such names are hereby reserved. The use or misuse of these trademarks or any materials, except as permitted herein, is expressly prohibited, and nothing stated or implied on the sites confers on you any license or right under any patent or trademark owned or controlled by Company or any third party.</p>
                 <p>Copyright: All information, text, images, photographs, graphics, videos, music, user interface and other content and materials contained on the sites are the copyrighted property of Company or its third-party licensors to the full extent provided under the United States Copyright Act and all international copyright laws. Under applicable copyright laws, you are prohibited from copying, reproducing, modifying, distributing, displaying, performing, or transmitting any of the contents of the sites for any purposes. Nothing stated or implied on the sites confers on you any license or right under any copyright of Company or any third party. The sites and the information contained in reference herein are for your personal, non-commercial use only. Except as otherwise specifically permitted herein, you shall not broadcast, duplicate, copy, reproduce, edit, manipulate, modify, publish, rent, sell, publicly display, perform, distribute, transmit, or circulate to anyone the contents of the sites, or use the contents of the sites in litigation, or for any commercial or promotional purposes, without the express written consent of Company or its lawful successors and assigns. </p>
            </div>
        </section>

        <footer class="pageFooter" >
            <div class="col">
                <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
                <h4>Contact</h4>
                <p><strong>Adress: </strong>Misr International University</p>
                <p><strong>Phone: </strong>01000000000</p>
                <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
                <div class = "follow">
                    <h4>Follow us</h4>
                    <div class = "icon">
                        <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                        <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="../html/about.html">About us</a>
                <a href="../../index.html">Home</a>
                <a href="../html/privacyPolicy.html">Privacy policy</a>
                <a href="../html/terms&condition.html">Terms & conditions</a>
             
            </div>
    
            <div class="col">
                <h4>My Acoount</h4>
                <a href="login.html">Sign in</a>
                <a href="cart.html">View cart</a>
                <a href="wishlist.html">My wishlist</a>
             
            </div>
    
            <div class="col install">
                <h4>Install app</h4>
                <p>From App-Store or Google play</p>
                <div class="row">
                    <img src="../../imgs/appStore.png" width="130" height="40">
                    <img src="../../imgs/googlePlay (2).png" width="130" height="40">
                </div>
                <p>Secured payment geteways</p>
                <img src="../../imgs/Payment.png" width="300" height="50">
            
            </div>
    
           
        </footer>
    
    
                 <div class="copyright">
                    <p>© 2023, Couchly - E-Commerce</p>
                 </div>
    
    
        </body>
    </html>