<html>
    <head>
        <title>Cupboards</title>

        <link rel="stylesheet" href="../css/wardrobe.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    </head>
    <section id="header">
        <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                alt="Logo" width="145" height="50"></a>
        <div class="container">
            <div>
                <ul id="navbar">
                    <input type="search" id="search" placeholder="Search..">
                    <li><a href="../../index.html" >Home</a></li>
                    <li><a href="Categories.html"class="active">Categories</a></li>
                    <li><a href="about.html" >About</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="login.html">Log in</a></li>
                    

                    </div>
                </ul>

            </div>

        </div>

    </section>
        <table>
            <tr>
                <h1>Cupboards</h1>
                <div class="products">
                    
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs\dolab1.png" alt="wardrobe1">
                </a>

                    <div class="design">
                        <span>cupboard</span>
                        <h5>wooden cupboard</h5>
                        <h5>20000EGP</h5>
                      <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                     
                    </div>
                </div> 
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs\dolab2.png" alt="wardrobe2">
                </a>

                    <div class="design">
                        <span>cupboard</span>
                        <h5>wooden cupboard</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>
                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs\dolab3.png" alt="wardrobe3">
                </a>

                    <div class="design">
                        <span>cupboard</span>
                        <h5>wooden cupboard</h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                    </div>
                </div>


                <div class="prod">
                    <a href="../html/description.html">
                    <img src="../../imgs\dolab4.png" alt="wardrobe4">
                </a>

                    <div class="design">
                        <span>cupboard</span>
                        <h5>wooden cupboard </h5>
                        <h5>20000EGP</h5>
                        <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
            </div>
            </div>
            </td>
            </tr>

                <tr>
                <td>
                  <div class="prod">
                    <a href="../html/description.html">
                  <img src="../../imgs\dolab5.png" alt="wardrobe5">
                </a>
                  <div class="design">
                    <span>wardrobe</span>
                    <h5>wooden cupboard</h5>
                    <h5>20000EGP</h5>
                    <button class="btn1"><i class="uil uil-shopping-cart-alt"></i></button>
                      <button class="btn2"><i class="uil uil-heart"></i></button>
                  </div>
                  </div>
                  </td> 
                   </td>
                   </tr>
</table>
</section>

<footer class="pageFooter" >
    <div class="col">
        <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
        <h4>Contact</h4>
        <p><strong>Adress: </strong>Misr International University</p>
        <p><strong>Phone: </strong>0100000000</p>
        <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
        <div class = "follow">
            <h4>Follow us</h4>
            <div class = "icon">
                <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="../html/about.html">About us</a>
        <a href="../../index.html">Home</a>
        <a href="../html/privacyPolicy.html">Privacy policy</a>
        <a href="../html/terms&condition.html">Terms & conditions</a>
     
    </div>

    <div class="col">
        <h4>My Acoount</h4>
        <a href="login.html">Sign in</a>
        <a href="cart.html">View cart</a>
        <a href="wishlist.html">My wishlist</a>
     
    </div>

    <div class="col install">
        <h4>Install app</h4>
        <p>From App-Store or Google play</p>
        <div class="row">
            <img src="../../imgs/appStore.png" width="130" height="40">
            <img src="../../imgs/googlePlay (2).png" width="130" height="40">
        </div>
        <p>Secured payment geteways</p>
        <img src="../../imgs/Payment.png" width="300" height="50">
    
    </div>

   
</footer>


         <div class="copyright">
            <p>© 2023, Couchly - E-Commerce</p>
         </div>

</body>
</html>