<html>
    <head>
        <title>My wishlist</title>
        <link rel="stylesheet" href="../css/wishlist.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
               

    </head>
    <body>
        <section id="header">
            <a href="../../index.html"><img src="../../imgs/logo.png" class="logo"
                    alt="Logo" width="145" height="50"></a>
            <div class="container">
                <div>
                    <ul id="navbar">
                        <input type="search" id="search" placeholder="Search..">
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="Categories.html">Categories</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="wishlist.html" class="active">Wishlist</a></li>
                        <li><a href="login.html">Log in</a></li>
                        </div>
                    </ul>

                </div>

            </div>

        </section>

    
        <section id="wish">
            <h1>My Wishlist</h1>
            
            <div class = "wishTable">
                
                <table width="100%">
                    
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Condition</th>
                        
                    </tr>
                    
                    <tr>    
                        <td><img src="../../imgs/bed1.png" alt="bed1" width="200"height="200"></td>
                        <td>Beds</td>
                        <td>In stock</td>
                        <td>10000EGP</td>
                        <td><button>Add to cart</button> <button>Remove</button></td>
                    </tr>
                    <tr>  
                        <td><img src="../../imgs/c8.png" alt="couch8" width="200"height="200"></td>
                        <td>Couches</td>
                        <td>In stock</td>
                        <td>15000EGP</td>
                        <td><button>Add to cart</button> <button>Remove</button></td>
                    </tr>
                </table> 
                
               
            </div>

          <button class="delbutton">Delete wishlist</button>
        </section>

          
       
     



        <footer class="pageFooter" >
            <div class="col">
                <img  class="Logo "src="../../imgs/logo.png"alt="" width="145" height="50">
                <h4>Contact</h4>
                <p><strong>Adress: </strong>Misr International University</p>
                <p><strong>Phone: </strong>01000000000</p>
                <p><strong>Hours: </strong>9 am - 12 am . Mon-Sat</p>
                <div class = "follow">
                    <h4>Follow us</h4>
                    <div class = "icon">
                        <a href ="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
                        <a href ="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href ="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href ="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a href ="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="../html/about.html">About us</a>
                <a href="../../index.html">Home</a>
                <a href="../html/privacyPolicy.html">Privacy policy</a>
                <a href="../html/terms&condition.html">Terms & conditions</a>
             
            </div>

            <div class="col">
                <h4>My Acoount</h4>
                <a href="signIn.html">Sign in</a>
                <a href="cart.html">View cart</a>
                <a href="wishlist.html">My wishlist</a>
             
            </div>

            <div class="col install">
                <h4>Install app</h4>
                <p>From App-Store or Google play</p>
                <div class="row">
                    <img src="../../imgs/appStore.png" width="130" height="40">
                    <img src="../../imgs/googlePlay (2).png" width="130" height="40">
                </div>
                <p>Secured payment geteways</p>
                <img src="../../imgs/Payment.png" width="300" height="50">
            
            </div>

          
            


        </footer>


                 <div class="copyright">
                    <p>© 2023, Couchly - E-Commerce</p>
                 </div>

                </body>
                </html>