<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/wishlist.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
               

    </head>
    <body>
        <%- include('../partials/nav') %>

    
        <section id="wish">
            <h1>My Wishlist</h1>
            
            <div class = "wishTable">
                
                <table width="100%">
                    
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Condition</th>
                        
                    </tr>
                    
                    <tr>    
                        <td><img src="../../imgs/bed1.png" alt="bed1" width="200"height="200"></td>
                        <td>Beds</td>
                        <td>In stock</td>
                        <td>10000EGP</td>
                        <td><button>Add to cart</button> <button>Remove</button></td>
                    </tr>
                    <tr>  
                        <td><img src="../../imgs/c8.png" alt="couch8" width="200"height="200"></td>
                        <td>Couches</td>
                        <td>In stock</td>
                        <td>15000EGP</td>
                        <td><button>Add to cart</button> <button>Remove</button></td>
                    </tr>
                </table> 
                
               
            </div>

          <button class="delbutton">Delete wishlist</button>
        </section>

          
       
     
        <%- include('../partials/footer') %>

                </body>
                </html>